@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color:#ffffff;
    --secondary-text-color:#000000;
    --sub-text-color:#484848;
    --section-front-title:#4870FF;
    --section-BG-title:#ffb70092;
    --button-color:#FFB800;
    --padding-inline-section:20px
}

body{
    font-family: 'Poppins', sans-serif;
    color:var(--secondary-text-color);
}

h1{
    font-size: 6rem;
    color: #ffffff;
    text-shadow: 5px 5px #b5b5b528;
}

h2{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 500;
}

h3{
    font-size: 3.9rem;
    color: var(--section-front-title);
    font-weight: 700;
}
h4{
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 300;
}

h5{
    font-size: 3rem;
    color: #000000df;
    font-weight: 700;
    line-height: 60px;
    font-family: 'Poppins', sans-serif;
}

.small-bold-text{
    font-size: 1rem;
    font-weight:700;
}

p{
    font-family:'Times New Roman', Times, serif;
    font-size: 1.35rem;
    color:#ffffff;
    line-height: 1.8rem;
    text-align: justify;
}

a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
    font-size: 1.2rem;
   
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin-inline: auto;
    overflow: hidden;
    /* background-color: #180707c2; */
    padding-inline:var(--padding-inline-section) ;
} 

.hover-menu{
  
    color: var(--primary-text-color);
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.hover-menu:hover{
    color: #f5f900;
    border-bottom:3px solid #f5f900;
   
}

.nav-toggle{
    display: none;
}


.hero{
    background-image: url(images/backgroung_img1.png);
    /* background-color: #4870FF; */
    background-size: 100%;
    height: 660px;
    background-repeat: no-repeat;
}

.nav-section{
    justify-content: space-between;
    position: relative;
    top: 30px;
    background-color: #0000002f;
    border-radius: 10px;
}

.website-logo{
    width: 50px;
}

.menus{
    /* flex-basis:730px ; */
}
.menus ul{
    justify-content: end;
    gap: 70px;
}

header{
    margin-top: 90px;
}

.header-section{
    gap: 45px;
    justify-content: left;
}

.horizontal-line img{
    width: 10px;
}

.header-text{
    justify-content: left;
    flex-direction: column;
    align-items: baseline;
  
}


.search-section{
    justify-content: center;
    margin-top: 50px;
}

.search-input input {
    width: 842px;
    height: 44px;
    border: none;
    padding-left: 30px;
    font-size: 21px;
    font-family:'Roboto', sans-serif;
    color: #000000;
    background: rgba(255, 255, 255, 0.251);
    border-radius: 5px;
    backdrop-filter: blur(2px)
}

.search-btn{
    width: 143.7px;
    height: 45px;
    background: #f5f9009a;
    color: rgb(61, 61, 61);
    font-size: 19px;
    border: none;
    font-weight: 500;
    font-family:'Roboto', sans-serif;
    border-radius: 5px;
    word-wrap: break-word;
    cursor: pointer;
}
.search-btn:hover{
    color: var(--secondary-text-color);
    background-color:#f5f900;
    /* border: 1px solid #ffffff; */
}